.cd-container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* play with rows for images */
    grid-template-rows: 2% 25% 25% 25% 1fr;
    grid-template-areas:
        "name name name name"
        "banner banner banner banner"
        "log log log log"
        "reviews reviews poi poi"
        "images images images images";
    margin: 0 auto;
    color: rgb(135, 129, 129);
    gap: 10px 10px;
    padding: 10px
}
.cd-banner{
    grid-area: banner;
    object-fit: cover;
    width: 100%;
    height: 100%;

}
.cd-name{
grid-area: name;
justify-self: center;
font-size: 30px;
}
.cd-log {
    grid-area: log;
    overflow-y:scroll;
    padding: 12px 20px;
    width: 100%;
    color: rgb(135, 129, 129);
    background-color: rgba(18, 16, 28, 0.965);
    resize: none;
    box-sizing: border-box;
    border: none;
    scrollbar-color: rgba(18, 16, 28, 0.965) rgb(135, 129, 129);
}

.cd-reviews {
    grid-area: reviews;
    overflow-y:auto;
    padding: 12px 20px;
    width: 100%;
    color: rgb(135, 129, 129);
    background-color: rgba(18, 16, 28, 0.965);
    resize: none;
    box-sizing: border-box;
    border: none;
    overflow-y:scroll;
    scrollbar-color:rgba(18, 16, 28, 0.965) rgb(135, 129, 129) ;

}

.cd-poi {
    grid-area: poi;
    width: 100%;
    color: rgb(135, 129, 129);
    background-color: rgba(18, 16, 28, 0.965);
    resize: none;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none

}

.cd-img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: images;
    width: 100%;
    color: rgb(135, 129, 129);
    background-color: rgba(18, 16, 28, 0.965);
    /* resize: none; */
    padding: 12px 20px;
    box-sizing: border-box;
    border: none
}
.none{
    display: none;
}
.cd-img-container>div>img {
    height: 250px;
    width: 250px;
    object-fit: contain;
    margin: 10px 5px;
}

textarea {
    width: 100%;
    color: rgb(135, 129, 129);
    background-color: rgba(18, 16, 28, 0.965);
    resize: none;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none
}

.review-modify-buttons{
    display: flex;
    justify-content: space-between;
    justify-self: flex-end;
}

@media (max-width: 875px) {
    .cd-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        align-items: center;
        color: rgb(135, 129, 129);
    }


    .cd-img-container>div>div>img {
        height: auto;
        width: 200px;
    }
    textarea {
        height: 100px;
        width: 100%;
        color: rgb(135, 129, 129);
        background-color: rgba(18, 16, 28, 0.965);
        resize: none;
        padding: 12px 20px;
        box-sizing: border-box;
        border: none
    }

}
