.cd-container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "log log log log"
        "reviews reviews poi poi"
        "images images images images";
    margin: 0 auto;
    color: rgb(135, 129, 129);
    /* border: solid 1px green; */
    gap: 10px 10px;
    padding: 10px
}

/* .cd-name{
    position:relative;
    bottom:502px;
    left:400px;
} */
.cd-log {
    grid-area: log;
    /* border: solid 1px purple; */
    overflow-y:auto
}

.cd-reviews {
    grid-area: reviews;
    overflow-y:auto;
    padding: 12px 20px;
    width: 100%;
    color: rgb(135, 129, 129);
    background-color: rgba(18, 16, 28, 0.965);
    resize: none;
    box-sizing: border-box;
    border: none
}

.cd-poi {
    grid-area: poi;
    width: 100%;
    color: rgb(135, 129, 129);
    background-color: rgba(18, 16, 28, 0.965);
    resize: none;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none

}

.cd-img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: images;
    width: 100%;
    color: rgb(135, 129, 129);
    background-color: rgba(18, 16, 28, 0.965);
    resize: none;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none
}

.cd-img-container>img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    /* z-index: 999;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease; */
    margin: 10px auto
}

textarea {
    width: 100%;
    color: rgb(135, 129, 129);
    background-color: rgba(18, 16, 28, 0.965);
    resize: none;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none
}

.review-modify-buttons{
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-start; */
    justify-self: flex-end;
}

/* .cd-img-container>img:hover {
    transform: scale(3);
    top: -100px;
    left:200px
} */


@media (max-width: 855px) {
    .cd-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        align-items: center;
        color: rgb(135, 129, 129);
        border: solid 1px red;
    }

    .cd-img-container>img {
        height: auto;
        width: 200px;
        /* object-fit: contain; */
        /* z-index: 999;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease; */
    }
    textarea {
        height: 100px;
        width: 100%;
        color: rgb(135, 129, 129);
        background-color: rgba(18, 16, 28, 0.965);
        resize: none;
        padding: 12px 20px;
        box-sizing: border-box;
        border: none
            /* border-radius: 4px; */
    }

    /* .cd-img-container:hover {
        transform: scale(2);
    } */
}
