.cq-card{
    height: 150px;
    width: 150px;
    border: solid yellow 1px;
    object-fit:contain;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/captains-log-13590.appspot.com/o/route_log.png?alt=media&token=fdb9ac91-8503-42be-ab1e-b262d910963b");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(10, 10, 10);
}
