.profile-dropdown {
  position: absolute;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  top:35px;
  right: 10px;
  font-size: 10px;
  background-color: #306efdca;
  border: solid 0.5px rgb(218, 217, 217);
  border-radius: 6px;
  /* box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4); */
  /* margin-top: 28px; */
  padding: 5px 0 5px;
  width: 120px;
  height: 90px;
  z-index: 1;
  color: rgb(255, 253, 253);
  align-items: center;
  overflow-x: auto;
}
.profile-dropdown button {
  font-size: 13px ;
  font-weight:bold;
  border-radius: 3px;
  background-color: #dedede;
  color: rgb(9, 0, 0);
  width: 65px;
  height: 21px;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);

  border: 1px solid black;
  margin: 10px 0 0px 0;
  /* color: white; */
}

nav{
  display: flex;
  /* border-bottom: solid grey 1px; */
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* margin: 10px 135px 10px 135px; */
  max-width: 1000px;
  height: 60px;
  /* font-size: x-large; */

}
.nav-right-side{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* margin: 0px 5px 0px 5px; */
  /* justify-content: space-between; */
}
.nav-color-size{
  color: white;
  font-size: x-large;
  text-decoration: none;
  margin: 0px 15px ;
}
.nav-astro{
  height: 50px;
  width: 50px;
}

@media (max-width:545px){
  .nav-color-size{
    color: white;
    font-size:small;
    text-decoration: none;
    margin: 0px 15px ;
  }
}
