.profile-dropdown {
  position: absolute;
  background-color: rgba(18, 16, 28, 0.812);
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  top:35px;
  right: 10px;
  font-size: 20px;
  border: solid 1px rgba(218, 217, 217, 0.148);
  border-radius: 6px;
  padding: 5px;
  width: 120px;
  height: 100px;
  z-index: 1;
  color: rgb(135, 129, 129);
  align-items: center;
  overflow-x: auto;
}
.profile-dropdown button {
  font-size: 20px ;
  border-radius: 3px;
  color: rgb(135, 129, 129);
  width: 100px;
  height: 30px;
  border: 1px solid black;
  margin-top: 10px;
  background-color: transparent;
  box-shadow: 5px 5px 5px black;
  border: none;
  font-weight: bold;
}
.login-signup *{
  margin:10px 0px;
  cursor:pointer
}


nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  height: 60px;
}
.nav-profile-button{
  background-color: rgba(18, 16, 28, 0.965);
  margin-right: 10px;
  color: rgb(145, 140, 140);
  border-radius: 20px;
}
.nav-right-side{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.nav-color-size{
  color: rgb(135, 129, 129);
  font-size: x-large;
  text-decoration: none;
  margin: 0px 15px ;
}


@media (max-width:545px){
  .nav-color-size{
    color: rgb(135, 129, 129);
    font-size:medium;
    text-decoration: none;
    margin: 0px 15px ;
  }
}
