.profile-dropdown {
  position: absolute;
}

nav{
  display: flex;
  border-bottom: solid grey 1px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* margin: 10px 135px 10px 135px; */
  max-width: 815px;
}
.white{color: white;}
